.resize-container {
  font-family: Roboto;
  width: 300px;
  height: 300px;
  background-color: white;
}

.resize-container {
  position: relative;
}

.drag-handle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1em;
  background: #cccccc;
  z-index: 8;
  padding: 0.25em;
  text-align: right;
}

.content {
  font-family: "Roboto Mono";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  resize: none;
}
