<div (click)="onClick()"
     *ngIf="shown"
     [bounds]=bounds
     [handle]="dragHandle"
     [inBounds]="true"
     [preventDefaultEvent]="true"
     [zIndexMoving]="999999"
     [zIndex]="assignZIndex()"
     class="resize-container"
     ngDraggable
     ngResizable
     rzHandles="n,s,e,w,se,sw">
  <div #dragHandle class="drag-handle">
    Draggable & Resizable
  </div>

  <button mat-stroked-button color="primary" (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>

  <mat-slider min="1" max="100" step="1" value="1"></mat-slider>


  <div [innerHTML]="source" class="content" [contentEditable]="true"
       (input)="onInputEvent($event)"
       (keydown)="updateCaretPos()"
       (keyup)="updateCaretPos()"
       (click)="updateCaretPos()">
  </div>
  <div [innerText]="caretPos"></div>
</div>
